////////////////////////////////////////////////////////////////////////////////
// COLORS
////////////////////////////////////////////////////////////////////////////////

:root {
    --carbon: #020202;
    --mercury: #E5E5E5;
    --grey_55: #555555;
    --08_air: #00A0D2;
    --white: #fff;
}

////////////////////////////////////////////////////////////////////////////////
// ABSTRACT
////////////////////////////////////////////////////////////////////////////////

%flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-col-cc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}