html {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

////////////////////////////////////////////////////////////////////////////////
// Animations
////////////////////////////////////////////////////////////////////////////////

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.quick-enter-active,
.quick-leave-active {
  transition: opacity 0.2s;
}

.quick-enter,
.quick-leave-to {
  opacity: 0.5;
}