////////////////////////////////////////////////////////////////////////////////
// GLOBAL
////////////////////////////////////////////////////////////////////////////////
@import url(https://9d0dd7a648345f19af83-877d2ecaf11b88d5e17327c758e17ef6.ssl.cf2.rackcdn.com/museo-sans-1.0.1/css/museo-sans.css);

html {
  font-family: 'MuseoSans';
  font-size: 62.5%; // -> 1rem = 10px
  font-weight: 500;
}


////////////////////////////////////////////////////////////////////////////////
// FONTS 
////////////////////////////////////////////////////////////////////////////////

%title {
  margin: 0;
}

:root {
  --font-bold: 900;
  --font-semi-bold: 700;
  --font-regular: 500;
  --font-thin: 300;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %title;
}

h1 {
  font-size: 2.4rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 2.8rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.1rem;
}

p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
}